
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="~/User/Login" method="post">
            <input type="text" name="userName"/>
            <input type="password" name="password"/>
            <input type="submit" value="提交"/>
        </form>
    </div>
</body>
</html>
